@mixin headline-42 {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5rem;
}

@mixin headline-32 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.2rem;
}

@mixin headline-24 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.4rem;
}

@mixin headline-18 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

@mixin headline-16 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

@mixin body-18 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

@mixin body-16 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

@mixin body-14 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}

@mixin body-12 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

@mixin label-16-bold {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

@mixin label-16 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

@mixin label-14 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}

@mixin label-12 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
